<template>
  <div
    class="relative z-10 h-auto bg-white border border-gray-400 rounded-md lg:fixed user-left-section"
  >
    <div class="relative top-0 h-16 py-4 bg-primary-500 rounded-t-md">
      <img
        v-if="userInfo.profile_picture_path"
        :src="`http://qapin_mvp5.manageprojects.in/upload/profile_image/${userInfo.profile_picture_path}`"
        class="absolute w-20 h-20 mr-2 border-white rounded-full shadow-sm cursor-pointer hover:shadow-xl border-3 md:right-24 right-28 top-6"
        alt="Profile Image"
        style="
          box-shadow: 0 15px 45px 0 rgb(0 0 0 / 12%);
          border: 1px solid #fff;
        "
      />
      <img
        v-else
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        class="absolute w-20 h-20 mr-2 border-white rounded-full shadow-sm cursor-pointer hover:shadow-xl border-3 right-28 md:right-24 top-6"
        alt="Profile Image"
        style="
          box-shadow: 0 15px 45px 0 rgb(0 0 0 / 12%);
          border: 1px solid #fff;
        "
      />
    </div>

    <!-- User Info -->
    <div class="w-full px-4 py-4 mt-4 text-center">
      <h1
        class="text-base font-bold text-gray-900 cursor-pointer hover:text-primary-500 lg:text-xl"
      >
        {{ userInfo.first_name }}
        {{ userInfo.last_name }}
      </h1>
      <p
        class="w-full max-w-xs mx-auto mt-1 text-sm font-normal leading-relaxed sm:text-base"
      >
        {{ userInfo.tagline }}
      </p>
    </div>

    <ul class="" style="padding: 0">
      <li
        style="padding: 10px 20px"
        class="flex items-center justify-between font-normal border-t border-b border-gray-200 cursor-pointer hover:bg-gray-100"
      >
        Who viewed your profile
        <span class="flex justify-end text-sm text-primary-500"> 10 </span>
      </li>
      <li
        style="padding: 10px 20px"
        class="flex items-center justify-between font-normal border-b border-gray-200 cursor-pointer hover:bg-gray-100"
      >
        Connections
        <span class="flex justify-end text-sm text-primary-500"> 155 </span>
      </li>
      <li
        style="padding: 10px 20px 10px"
        class="px-4 font-semibold text-gray-900 border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-primary-500"
      >
        View Profile
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    userInfo: {
      type: Object,
      default: null,
    },
  },
}
</script>
