<template>
  <div class="fixed z-0">
    <div
      class="relative overflow-auto bg-white border border-gray-400 rounded-md h-76 newsfeed-right-section"
    >
      <h3
        style="padding: 16px"
        class="w-full text-base font-extrabold border-b border-gray-300 sm:text-xl"
      >
        Qapin News
      </h3>

      <div class="">
        <ul class="list-disc list-inside" style="padding: 0; margin-top: 25px">
          <li
            class="text-sm font-semibold text-gray-900 truncate cursor-pointer hover:bg-gray-100"
            style="margin-bottom: 20px; padding-left: 20px; padding-right: 10px"
          >
            Vocational education to receive better recognition

            <br />

            <label
              for=""
              style="padding-left: 18px"
              class="font-normal text-gray-500 mt-1.5"
            >
              Published Oct. 18, 2021
            </label>
          </li>
          <li
            class="text-sm font-semibold text-gray-900 truncate cursor-pointer hover:bg-gray-100"
            style="margin-bottom: 20px; padding-left: 20px; padding-right: 10px"
          >
            Priorities of China's participation in global malaria elimination:
            the perspective of malaria endemic countries

            <br />
            <label
              for=""
              style="padding-left: 18px"
              class="font-normal text-gray-500 mt-1.5"
            >
              Published Nov. 20, 2021
            </label>
          </li>
          <li
            class="text-sm font-semibold text-gray-900 truncate cursor-pointer hover:bg-gray-100"
            style="margin-bottom: 20px; padding-left: 20px; padding-right: 10px"
          >
            Priorities of China's participation in global malaria elimination:
            the perspective of malaria endemic countries.

            <br />
            <label
              for=""
              style="padding-left: 18px"
              class="font-normal text-gray-500 mt-1.5"
            >
              Published Dec. 11, 2021
            </label>
          </li>
          <li
            class="text-sm font-semibold text-gray-900 truncate cursor-pointer hover:bg-gray-100"
            style="
              padding-left: 20px;
              padding-right: 10px;
              padding-bottom: 20px;
            "
          >
            HACCP vs HARPC: What's the difference?

            <br />
            <label
              for=""
              style="padding-left: 18px"
              class="font-normal text-gray-500 mt-1.5"
            >
              Published Jan. 21, 2021
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
