<template>
  <div class="px-10 sm:px-0">
    <div class="absolute left-0 right-0 px-10 text-center sm:px-0 xl:top-24">
      <h1 class="mt-4 text-lg font-semibold text-center text-gray-900">
        Qapin Suspended Operations in Russia and Belarus -
        <span
          style="margin-left: 4px"
          class="text-lg font-semibold cursor-pointer text-primary-500 hover:text-gray-500"
        >
          Know more..
        </span>
      </h1>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {}
  },
}
</script>
