<template>
  <div style="height: 92vh" class="overflow-y-hidden">
    <div class="container mt-24 overflow-hidden">
      <div class="mb-10 text-center">
        <div class="flex items-center justify-center -mb-8">
          <img src="../assets/img/reset-link.png" alt="" />
        </div>
        <h3
          class="w-full max-w-sm mx-auto mt-4 text-lg font-extrabold text-gray-900 lg:max-w-md sm:text-xl lg:text-3xl"
        >
          We have sent you a password reset link!
        </h3>
        <p class="mt-6 text-sm font-medium text-gray-400 lg:text-base">
          Check your inbox for further instructions.
        </p>

        <div class="">
          <button
            @click="$router.push('/login')"
            class="px-10 py-2.5 text-base font-medium text-white transition-all ease-in-out rounded-md shadow-sm cursor-pointer duration- flex-inline hover:bg-opacity-70 hover:shadow-2xl bg-primary-500"
          >
            Go to Login
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
