<template>
  <div style="height: 100vh">
    <!-- <h1 class="mt-40 text-lg font-bold text-center xl:text-2xl">Find a Job</h1> -->
    <div class="w-full px-4 py-20 mt-40 bg-white border-2 border-dashed rounded-md shadow-sm border-primary-500 xl:px-0 xl:max-w-7xl xl:mx-auto">
      <div class="flex justify-center">
        <NoPostIcon class="w-54 h-54" />
      </div>
      <h3 class="flex justify-center mt-4 text-xl font-bold xl:text-2xl">
        No Jobs Posted yet!
      </h3>
    </div>
  </div>
</template>

<script>
import NoPostIcon from '../../../src/components/icons/NoPostIcon.vue'
export default {
  name: 'Qapin || Find a Job',

  components: {
    NoPostIcon,
  },

  data() {
    return {}
  },
}
</script>
