<template>
  <div class="container">
    <b-row class="mt-100 freelancer-wrap mb-50">
      <b-col cols="12">
        <h4 class="mb-5 fz-30 fw-500 text-black"><b>End Contract</b></h4>
        <b-card-group deck>
          <b-card class="py-4 px-2 bg-white mb-2 br-20">
            <b-row>
              <b-col cols="12">
                <h4 class="fz-20 text-black fz-600">Client Name</h4>
                <p class="fz-16 text-black fz-400">Shreeinfotech</p>
              </b-col>  
            </b-row>
            <b-row>
              <b-col cols="12">
                <h4 class="fz-20 text-black fz-600">Client Name</h4>
                <p class="fz-16 text-black fz-400">Shreeinfotech</p>
              </b-col>  
            </b-row>
          </b-card>
        </b-card-group>

        <b-card-group deck>
          <b-card title-class="text-theme font-14" header-tag="header" footer-tag="footer" header-class="py-4 px-4 bg-white custom-br" class="mt-3 br-20">
            <template  #header>
              <h4 class="mb-0 fz-24 fw-500 text-black"><b>Refund to client</b></h4>
            </template>
            <b-row>
              <b-col cols="12">
                <div class="py-2 px-2">
                  <p>You haven't submitted work and therefore the $5.00 in escrow will be returned to your client. Upload your work files to get your client's approval and avoid this refund.</p>
                  <p>Once approved, the client will release the funds in escrow to you or if they are unresponsive, you will receive the funds held in escrow after 14 days.</p>
                </div>
              </b-col>
            </b-row>
          </b-card>
        </b-card-group>

        <b-card-group deck>
          <b-card title-class="text-theme font-14" header-tag="header" footer-tag="footer" header-class="py-4 px-4 bg-white custom-br" class="mt-3 br-20">
            <template  #header>
              <h4 class="mb-0 fz-24 fw-500 text-black"><b>Private Feedback</b></h4>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, leo a laoreet pretium</p>
            </template>
            <b-row>
              <b-col cols="5">
                <div class="py-2 px-2">
                  <template>
                    <div>
                      <b-form>
                        <b-form-group id="input-group-3" label-for="input-3">
                          <label>Reason for ending contract</label><br>
                          <b-form-select
                            id="input-3"
                            class="form-control"
                            :options="reason"
                            required
                          ></b-form-select>
                        </b-form-group>
                        <h5 class="fz-16 fw-600 text-black mt-4">Move Likely are you to recommended this freelancer to a friend or a colleague ?</h5>

                        <h5 class="fz-16 fw-600 text-black mt-4 mb-4">Rate their English Lorem ipsum dolor sit amet, consectetur adipiscing</h5>
                        <b-form-group v-slot="{ ariaDescribedby }">
                          <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="A"> Perfect</b-form-radio>
                          <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="B"> Acceptable</b-form-radio>
                          <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="c"> Difficult to understand</b-form-radio>
                          <b-form-radio v-model="selected" :aria-describedby="ariaDescribedby" name="some-radios" value="d"> I didn’t speak to this freelancer</b-form-radio>
                        </b-form-group>
                      </b-form>
                    </div>
                  </template>
                </div>
              </b-col>
            </b-row>
          </b-card>
        </b-card-group>

        <b-card-group deck>
          <b-card title-class="text-theme font-14" header-tag="header" footer-tag="footer" header-class="py-4 px-4 bg-white custom-br" class="feedback-wrap mt-3 br-20">
            <template  #header>
              <h4 class="mb-0 fz-24 fw-500 text-black"><b>Public Feedback</b></h4>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec rutrum, leo a laoreet pretium</p>
            </template>
            <div class="py-4 px-4">
              <h5 class="fz-24 text-black fw-500 mb-4">Rating  & Reviews</h5>
              <div class="d-flex align-items-center mb-3">
                <div class="rating">
                  <i class="fa fa-star color-orange mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-orange mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-orange mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-orange mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted" aria-hidden="true"></i>
                </div>
                <span class="ml-2">Skills</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="rating">
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted" aria-hidden="true"></i>
                </div>
                <span class="ml-2">Quality of work</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="rating">
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted" aria-hidden="true"></i>
                </div>
                <span class="ml-2">Availability</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="rating">
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted" aria-hidden="true"></i>
                </div>
                <span class="ml-2">Adherence to Schedule</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="rating">
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted" aria-hidden="true"></i>
                </div>
                <span class="ml-2">Communication</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div class="rating">
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted mr-1" aria-hidden="true"></i>
                  <i class="fa fa-star color-muted" aria-hidden="true"></i>
                </div>
                <span class="ml-2">Cooprtation</span>
              </div>
              <div class="d-flex align-items-center mb-3">
                <h4 class="fz-20 fw-400 text-black mb-0">Total Score :</h4>
                <span class="ml-2 score-count">0.00</span>
              </div>
            </div>
            <hr>
            <div class="py-4 px-4">
              <h4 class="text-black fz-24 fw-500 text-black mb-4"><b>Share your experience with this client:</b></h4>
              <b-form-textarea
                id="textarea"
                v-model="text"
                placeholder="write somthing here..."
                rows="6"
                max-rows="6"
              ></b-form-textarea>
              <div class="form-group d-md-flex align-items-center">
                <button
                  type="submit"
                  class="btn btn-theme mt-4 mr-2" v-b-modal.modal-lg variant="primary"
                >
                End Contract
                </button>
                <b-modal id="modal-lg" size="lg" title="End Contract">
                  <div class="text-center">
                    <svg width="151" height="151" viewBox="0 0 151 151" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb-2">
                      <path d="M66.3199 8.25326C71.4652 4.68501 78.2848 4.68501 83.4301 8.25326C86.7378 10.5472 90.8282 11.4166 94.7831 10.6664C100.935 9.49942 107.165 12.2732 110.414 17.6257C112.503 21.0667 115.886 23.5247 119.804 24.4479C125.898 25.884 130.462 30.9519 131.253 37.1632C131.761 41.1563 133.852 44.7779 137.056 47.2149C142.04 51.0057 144.147 57.4915 142.343 63.4876C141.184 67.3423 141.621 71.5012 143.557 75.0306C146.568 80.5207 145.855 87.3029 141.768 92.047C139.141 95.0969 137.849 99.074 138.182 103.086C138.699 109.326 135.289 115.232 129.626 117.903C125.986 119.621 123.188 122.729 121.86 126.529C119.795 132.44 114.278 136.448 108.018 136.586C103.993 136.674 100.173 138.375 97.4145 141.307C93.1236 145.867 86.453 147.285 80.6783 144.864C76.9659 143.308 72.7841 143.308 69.0717 144.864C63.297 147.285 56.6264 145.867 52.3355 141.307C49.5769 138.375 45.7566 136.674 41.7323 136.586C35.4723 136.448 29.9551 132.44 27.8899 126.529C26.5622 122.729 23.764 119.621 20.1235 117.903C14.4607 115.232 11.0509 109.326 11.5685 103.086C11.9012 99.074 10.609 95.0969 7.98184 92.047C3.89531 87.3029 3.18246 80.5207 6.19334 75.0306C8.12895 71.5012 8.56607 67.3423 7.40656 63.4876C5.60293 57.4915 7.7103 51.0057 12.6939 47.2149C15.8977 44.7779 17.9886 41.1563 18.4972 37.1632C19.2883 30.9519 23.8515 25.884 29.9461 24.4479C33.8642 23.5247 37.2473 21.0667 39.3361 17.6257C42.5852 12.2732 48.8152 9.49942 54.9669 10.6664C58.9218 11.4166 63.0122 10.5472 66.3199 8.25326Z" fill="#F2613C"/>
                      <path d="M68.9854 85.612H77.0223L84.4342 57.2147L87.0239 45.9629H74.7899L73.0932 57.2147L68.9854 85.612ZM69.0747 106.865C74.2541 106.865 77.826 102.4 77.826 97.9354C77.826 94.0955 75.3257 91.2379 71.4858 91.2379C66.3064 91.2379 62.7344 95.8815 62.7344 100.257C62.7344 104.186 65.2348 106.865 69.0747 106.865Z" fill="white"/>
                      <path d="M133.023 19.7399C133.472 19.7615 133.931 19.6116 134.29 19.2849L149.692 5.29456C150.411 4.64135 150.465 3.5288 149.811 2.8099C149.158 2.09076 148.046 2.03733 147.327 2.69055L131.925 16.6809C131.206 17.3341 131.152 18.4466 131.805 19.1655C132.132 19.525 132.573 19.7183 133.023 19.7399Z" fill="#F2613C"/>
                      <path d="M149.113 26.9153C148.903 25.9669 147.964 25.3686 147.015 25.5792L139.571 27.2309C138.622 27.4413 138.024 28.3806 138.235 29.3291C138.41 30.1206 139.094 30.6684 139.866 30.7055C140.019 30.7128 140.176 30.7002 140.333 30.6652L147.777 29.0135C148.726 28.8033 149.324 27.8637 149.113 26.9153Z" fill="#F2613C"/>
                      <path d="M122.151 11.7905C122.304 11.8404 122.458 11.868 122.612 11.8754C123.384 11.9125 124.117 11.4327 124.368 10.6617L126.725 3.40987C127.026 2.48599 126.52 1.49336 125.597 1.19328C124.673 0.892255 123.68 1.39827 123.38 2.32215L121.022 9.57397C120.722 10.4978 121.227 11.4902 122.151 11.7905Z" fill="#F2613C"/>
                    </svg>
                    <h4>Are you sure you want to end this contract</h4>
                    <p>Interview promising candidates and make them an offer.</p>
                  </div>
                  <template #modal-footer>
                    <div class="w-100 text-right">
                      <a href="javascript:void(0);" class="text-theme mr-2">Cancel</a>
                      <b-button
                        size="lg"
                        class="btn btn-theme"
                        @click="show=false"
                      >
                        End Contract
                      </b-button>
                    </div>
                  </template>
                </b-modal>
                <a href="javascript:void(0);"
                  class="text-theme mt-4"
                >
                Cancel
                </a> 
              </div>
            </div>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  name: 'Qapin || Freelancer',

  data() {
    return {
      reason: [
        { value: null, text: 'Select reason' },
        { value: 'a', text: 'Reason One' },
        { value: 'b', text: 'Reason Two' },
      ],
    }
  },
}

</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
  body{font-family: 'Source Sans Pro', sans-serif!important;}
  .text-muted{color:#979797!important;}
  .ralative {padding-bottom:0px;}
  .theme-bg{background-color: #FFF6F4!important;}
  .bg-none{background-color:transparent;}
  .br-20{border-radius: 20px;}
  .fz-16{font-size:16px;}
  .fz-18{font-size:18px;}
  .fw-600{font-weight:600;}
  .custom-br{border-radius:20px 20px 0 0!important;}
  .custom-select{font-family: 'Source Sans Pro';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;background: #FFFFFF;border: 1px solid #CECECE!important;border-radius: 6px!important;margin-top: 6px!important;padding: 8px 12px!important;}
  label{font-family: 'Source Sans Pro';font-style: normal;font-weight: 600;font-size: 14px;line-height: 18px;color: #000000;}
  .custom-radio{display:flex;align-items:center;margin-bottom:15px;}
  .custom-radio input{margin-right:5px;}
  .custom-radio label{font-family: 'Source Sans Pro';font-style: normal;font-weight: 600;font-size: 16px;line-height: 20px;color: #000000;}
  .color-orange{color:#FF8E3C;}
  .color-muted{color:#a6a6a6;}
  .score-count{font-style: normal;font-weight: 700;font-size: 20px;line-height: 30px;color: #000000;}
  .feedback-wrap .card-body{padding:0px;}
  .mb-50{margin-bottom:50px;}
  .modal-header{text-align:center;display: block!important;}
  .modal-header .modal-title{font-family: 'Source Sans Pro';font-style: normal;font-weight: 700;font-size: 20px;line-height: 25px;text-align: center;color: #000000;}
  .modal-header .close{position: absolute;right: -20px;top: -33px;color: #fff;font-size: 34px;font-weight: 500;}
  .modal-body{text-align:center;}
  .modal-body svg{text-align:center;margin:0 auto;}
  .modal-body h4{font-family: 'Source Sans Pro';font-style: normal;font-weight: 600;font-size: 22px;line-height: 43px;text-transform: capitalize;color: #000000;}
  .modal-body p{font-family: 'Source Sans Pro';font-style: normal;font-weight: 400;font-size: 16px;line-height: 20px;text-align: center;text-transform: capitalize;color: #000000;}
  .modal-body{padding:60px 20px!important;}
  p {margin-top: 0!important;margin-bottom: 1rem!important;}
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
  dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
  ol, ul {padding-left: 2rem!important;}
</style>

