<template>
  <div class="container">
    <div class="row mt-100 mb-50 freelancer-wrap">
      <div class="col-md-9">
        <div class="left-content">
          <div class="card theme-bg br-20 bordered mb-3">
            <div class="card-body d-md-flex align-items-center p-5 bg-none">
              <div class="content">
                <h6 class="fz-20 fw-600 text-black">Tuesday, April 12th</h6>
                <h2 class="fz-34 fw-600 text-black">Good Morning, <span class="name">Lewis !</span></h2>
              </div>
              <div class="img-holder ml-auto">
                <svg width="82" height="82" viewBox="0 0 82 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M78.0257 0.0629322C77.7128 0.0787382 77.4031 0.134386 77.1041 0.228531L3.38386 22.3468C2.65618 22.5704 2.01555 23.0137 1.54994 23.616C1.08433 24.2183 0.816577 24.9499 0.783441 25.7104C0.750306 26.471 0.953414 27.2231 1.36488 27.8636C1.77634 28.5041 2.37598 29.0015 3.08147 29.2875L34.754 41.9738L46.0796 30.6483C46.7455 29.9628 47.6516 29.5627 48.6068 29.5323C49.3457 29.5151 50.0727 29.7203 50.6936 30.1214C51.3144 30.5225 51.8003 31.101 52.0883 31.7817C52.3763 32.4624 52.453 33.214 52.3085 33.9389C52.164 34.6637 51.8049 35.3284 51.2779 35.8467L39.9524 47.1722L52.6387 78.8448C52.9247 79.5503 53.4222 80.1499 54.0626 80.5614C54.7031 80.9728 55.4553 81.1759 56.2158 81.1428C56.9763 81.1097 57.708 80.8419 58.3102 80.3763C58.9125 79.9107 59.3559 79.2701 59.5795 78.5424L81.6977 4.8221C81.8693 4.25924 81.9038 3.66348 81.7981 3.08461C81.6924 2.50574 81.4496 1.96058 81.0902 1.49469C80.7307 1.0288 80.265 0.655726 79.7318 0.406642C79.1987 0.157558 78.6137 0.0397047 78.0257 0.0629322ZM15.4366 40.5843C14.4814 40.6146 13.5753 41.0148 12.9094 41.7002L1.82868 52.745C1.13551 53.4381 0.746094 54.3783 0.746094 55.3585C0.746094 56.3388 1.13551 57.279 1.82867 57.9721C2.52184 58.6653 3.46197 59.0547 4.44226 59.0547C5.42254 59.0547 6.36267 58.6653 7.05584 57.9721L18.1078 46.9202C18.6426 46.4033 19.0085 45.7367 19.1575 45.008C19.3065 44.2793 19.2316 43.5225 18.9427 42.8372C18.6537 42.1518 18.1642 41.5699 17.5385 41.1678C16.9128 40.7657 16.18 40.5623 15.4366 40.5843ZM30.1893 47.957C29.2215 47.9781 28.3008 48.3789 27.6261 49.073L1.82868 74.8704C1.48545 75.2136 1.2132 75.6211 1.02745 76.0695C0.841699 76.518 0.746095 76.9986 0.746095 77.484C0.746095 77.9694 0.8417 78.45 1.02745 78.8985C1.2132 79.3469 1.48546 79.7544 1.82868 80.0976C2.1719 80.4408 2.57936 80.7131 3.0278 80.8988C3.47624 81.0846 3.95687 81.1802 4.44226 81.1802C5.42254 81.1802 6.36267 80.7907 7.05584 80.0976L32.8533 54.3002C33.3902 53.7841 33.7582 53.1176 33.9089 52.3883C34.0596 51.659 33.986 50.9012 33.6976 50.2146C33.4093 49.528 32.9197 48.9448 32.2935 48.5418C31.6672 48.1388 30.9336 47.9349 30.1893 47.957ZM37.5332 62.7025C36.578 62.7329 35.672 63.133 35.006 63.8185L23.9541 74.8704C23.6109 75.2136 23.3386 75.6211 23.1529 76.0695C22.9671 76.518 22.8715 76.9986 22.8715 77.484C22.8715 77.9694 22.9671 78.45 23.1529 78.8985C23.3386 79.3469 23.6109 79.7544 23.9541 80.0976C24.2973 80.4408 24.7048 80.7131 25.1532 80.8988C25.6017 81.0846 26.0823 81.1802 26.5677 81.1802C27.0531 81.1802 27.5337 81.0846 27.9822 80.8988C28.4306 80.7131 28.8381 80.4408 29.1813 80.0976L40.226 69.0169C40.7519 68.4969 41.1093 67.8308 41.2518 67.1051C41.3942 66.3794 41.3151 65.6276 41.0247 64.9475C40.7343 64.2673 40.2461 63.6902 39.6234 63.2911C39.0008 62.8921 38.2725 62.6895 37.5332 62.7097V62.7025Z" fill="#F2613C" fill-opacity="0.4"/>
                </svg>
              </div>
            </div>
          </div>
          <div class="input-group mb-3 search-bar">
            <input type="text" class="form-control border-none" placeholder="Search for Job, people, groups and more... " aria-describedby="basic-addon2">
            <span class="input-group-text bg-white" id="basic-addon2">
              <svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9689 5.13525C16.0046 5.13525 17.9184 5.92799 19.3579 7.36746C20.7973 8.8069 21.59 10.7207 21.5901 12.7564C21.5901 14.7921 20.7973 16.706 19.3579 18.1454C17.9184 19.5849 16.0046 20.3776 13.9689 20.3776C11.9332 20.3776 10.0193 19.5849 8.57987 18.1454C7.14039 16.706 6.34766 14.7921 6.34766 12.7564C6.34766 10.7207 7.14039 8.8069 8.57987 7.36746C10.0193 5.92799 11.9331 5.13525 13.9689 5.13525ZM7.80186 12.7564C7.80186 16.1569 10.5683 18.9234 13.9688 18.9234C17.3693 18.9234 20.1358 16.1569 20.1358 12.7564C20.1358 9.35594 17.3694 6.58946 13.9689 6.58946C10.5684 6.58946 7.80186 9.35594 7.80186 12.7564Z" fill="#F2613C"/>
                <path d="M24.1347 21.8942L19.3548 17.1143C19.0708 16.8304 18.6104 16.8304 18.3265 17.1143C18.0425 17.3983 18.0425 17.8587 18.3265 18.1426L23.1063 22.9225C23.2483 23.0645 23.4344 23.1355 23.6205 23.1355C23.8066 23.1355 23.9927 23.0645 24.1347 22.9225C24.4186 22.6385 24.4186 22.1782 24.1347 21.8942Z" fill="#F2613C"/>
              </svg>
            </span>
          </div>
          <div class="card like-jobs">
            <div class="card-header py-4 px-4 bg-white">
              <h4 class="mb-0 fz-24 fw-500 text-black"><b>Jobs you might like</b></h4>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills mb-3 py-2 px-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Recent Jobs <span class="badge badge-theme br-50">22</span></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Saved Jobs <span class="badge badge-secondary br-50">18</span></button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="job-card py-2 px-4 pb-4 mb-2 relative">
                    <div class="action-btn">
                      <button type="button" class="btn btn-secondary br-50 mr-1 btn-like">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                        </svg>
                      </button>
                      <button type="button" class="btn btn-secondary br-50 btn-archive">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fz-20 fw-600 cursor-pointer text-theme-hover" @click="$router.push('/freelancer/job-details')">Mechanical/Piping QC Inspector</h5>
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-Mechanical Inspector</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- India, Madhya Pradesh, Indore</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted 5 hours ago</li>
                    </ul>
                    <p class="fz-14 text-black mb-2">The purpose of the Mechanical/Piping QC Inspector is to interpret the suitability of products and processes against  the designated specification requirements at scheduled and ad-hoc intervals..</p>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">India</span></p>
                    <ul class="d-flex align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 d-flex align-items-center">
                        Boilers
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                      <li class="mr-1 d-flex align-items-center">
                        Industrial Valves
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="job-card py-2 px-4 pb-4 mb-2 relative">
                    <div class="action-btn">
                      <button type="button" class="btn btn-secondary br-50 mr-1 btn-like">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                          </svg>

                      </button>
                      <button type="button" class="btn btn-secondary br-50 btn-archive">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fw-600 cursor-pointer text-theme-hover" @click="$router.push('/freelancer/job-details')">Mechanical/Piping QC Inspector</h5>
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-Mechanical Inspector</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- India, Madhya Pradesh, Indore</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted 5 hours ago</li>
                    </ul>
                    <p class="fz-14 text-black mb-2">The purpose of the Mechanical/Piping QC Inspector is to interpret the suitability of products and processes against  the designated specification requirements at scheduled and ad-hoc intervals..</p>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">India</span></p>
                    <ul class="d-flex align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 d-flex align-items-center">
                        Boilers
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                      <li class="mr-1 d-flex align-items-center">
                        Industrial Valves
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="job-card py-2 px-4 pb-4 mb-2 relative">
                    <div class="action-btn">
                      <button type="button" class="btn btn-secondary br-50 mr-1 btn-like">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                          </svg>

                      </button>
                      <button type="button" class="btn btn-secondary br-50 btn-archive">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fw-600 cursor-pointer text-theme-hover" @click="$router.push('/freelancer/job-details')">Mechanical/Piping QC Inspector</h5>
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-Mechanical Inspector</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- India, Madhya Pradesh, Indore</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted 5 hours ago</li>
                    </ul>
                    <p class="fz-14 text-black mb-2">The purpose of the Mechanical/Piping QC Inspector is to interpret the suitability of products and processes against  the designated specification requirements at scheduled and ad-hoc intervals..</p>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">India</span></p>
                    <ul class="d-flex align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 d-flex align-items-center">
                        Boilers
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                      <li class="mr-1 d-flex align-items-center">
                        Industrial Valves
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="job-card py-2 px-4 pb-4 mb-2 relative">
                    <div class="action-btn">
                      <button type="button" class="btn btn-secondary br-50 mr-1 btn-like">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                          </svg>

                      </button>
                      <button type="button" class="btn btn-secondary br-50 btn-archive">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fw-600 cursor-pointer text-theme-hover" @click="$router.push('/freelancer/job-details')">Mechanical/Piping QC Inspector</h5>
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-Mechanical Inspector</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- India, Madhya Pradesh, Indore</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted 5 hours ago</li>
                    </ul>
                    <p class="fz-14 text-black mb-2">The purpose of the Mechanical/Piping QC Inspector is to interpret the suitability of products and processes against  the designated specification requirements at scheduled and ad-hoc intervals..</p>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">India</span></p>
                    <ul class="d-flex align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 d-flex align-items-center">
                        Boilers
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                      <li class="mr-1 d-flex align-items-center">
                        Industrial Valves
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="job-card py-2 px-4 pb-4 mb-2 relative">
                    <div class="action-btn">
                      <button type="button" class="btn btn-secondary br-50 mr-1 btn-like">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                          </svg>

                      </button>
                      <button type="button" class="btn btn-secondary br-50 btn-archive">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fw-600 cursor-pointer text-theme-hover" @click="$router.push('/freelancer/job-details')">Mechanical/Piping QC Inspector</h5>
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-Mechanical Inspector</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- India, Madhya Pradesh, Indore</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted 5 hours ago</li>
                    </ul>
                    <p class="fz-14 text-black mb-2">The purpose of the Mechanical/Piping QC Inspector is to interpret the suitability of products and processes against  the designated specification requirements at scheduled and ad-hoc intervals..</p>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">India</span></p>
                    <ul class="d-flex align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 d-flex align-items-center">
                        Boilers
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                      <li class="mr-1 d-flex align-items-center">
                        Industrial Valves
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <div class="job-card py-2 px-4 pb-4 mb-2 relative">
                    <div class="action-btn">
                      <button type="button" class="btn btn-secondary br-50 mr-1 btn-like">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                          </svg>

                      </button>
                      <button type="button" class="btn btn-secondary br-50 btn-archive">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fz-20 fw-600 cursor-pointer text-theme-hover" @click="$router.push('/freelancer/job-details')">Mechanical/Piping QC Inspector</h5>
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-Mechanical Inspector</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- India, Madhya Pradesh, Indore</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted 5 hours ago</li>
                    </ul>
                    <p class="fz-14 text-black mb-2">The purpose of the Mechanical/Piping QC Inspector is to interpret the suitability of products and processes against  the designated specification requirements at scheduled and ad-hoc intervals..</p>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">India</span></p>
                    <ul class="d-flex align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 d-flex align-items-center">
                        Boilers
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                      <li class="mr-1 d-flex align-items-center">
                        Industrial Valves
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="job-card py-2 px-4 pb-4 mb-2 relative">
                    <div class="action-btn">
                      <button type="button" class="btn btn-secondary br-50 mr-1 btn-like">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                          </svg>

                      </button>
                      <button type="button" class="btn btn-secondary br-50 btn-archive">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fz-20 fw-600 cursor-pointer text-theme-hover" @click="$router.push('/freelancer/job-details')">Mechanical/Piping QC Inspector</h5>
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-Mechanical Inspector</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- India, Madhya Pradesh, Indore</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted 5 hours ago</li>
                    </ul>
                    <p class="fz-14 text-black mb-2">The purpose of the Mechanical/Piping QC Inspector is to interpret the suitability of products and processes against  the designated specification requirements at scheduled and ad-hoc intervals..</p>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">India</span></p>
                    <ul class="d-flex align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 d-flex align-items-center">
                        Boilers
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                      <li class="mr-1 d-flex align-items-center">
                        Industrial Valves
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="job-card py-2 px-4 pb-4 mb-2 relative">
                    <div class="action-btn">
                      <button type="button" class="btn btn-secondary br-50 mr-1 btn-like">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                          </svg>

                      </button>
                      <button type="button" class="btn btn-secondary br-50 btn-archive">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fz-20 fw-600 cursor-pointer text-theme-hover" @click="$router.push('/freelancer/job-details')">Mechanical/Piping QC Inspector</h5>
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-Mechanical Inspector</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- India, Madhya Pradesh, Indore</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted 5 hours ago</li>
                    </ul>
                    <p class="fz-14 text-black mb-2">The purpose of the Mechanical/Piping QC Inspector is to interpret the suitability of products and processes against  the designated specification requirements at scheduled and ad-hoc intervals..</p>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">India</span></p>
                    <ul class="d-flex align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 d-flex align-items-center">
                        Boilers
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                      <li class="mr-1 d-flex align-items-center">
                        Industrial Valves
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="job-card py-2 px-4 pb-4 mb-2 relative">
                    <div class="action-btn">
                      <button type="button" class="btn btn-secondary br-50 mr-1 btn-like">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                          </svg>

                      </button>
                      <button type="button" class="btn btn-secondary br-50 btn-archive">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fz-20 fw-600 cursor-pointer text-theme-hover" @click="$router.push('/freelancer/job-details')">Mechanical/Piping QC Inspector</h5>
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-Mechanical Inspector</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- India, Madhya Pradesh, Indore</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted 5 hours ago</li>
                    </ul>
                    <p class="fz-14 text-black mb-2">The purpose of the Mechanical/Piping QC Inspector is to interpret the suitability of products and processes against  the designated specification requirements at scheduled and ad-hoc intervals..</p>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">India</span></p>
                    <ul class="d-flex align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 d-flex align-items-center">
                        Boilers
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                      <li class="mr-1 d-flex align-items-center">
                        Industrial Valves
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                  <div class="job-card py-2 px-4 pb-4 mb-2 relative">
                    <div class="action-btn">
                      <button type="button" class="btn btn-secondary br-50 mr-1 btn-like">
                        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_2511_17183)">
                          <path d="M17.3943 5.88297C17.7631 6.35349 17.9401 6.85788 17.9175 7.37733C17.8949 7.94947 17.6389 8.3974 17.4281 8.67218C17.6728 9.28197 17.7669 10.2418 16.9501 10.9871C16.3516 11.5329 15.3353 11.7776 13.9275 11.7098C12.9376 11.6647 12.1094 11.4802 12.0756 11.4727H12.0718C11.8836 11.4388 11.6841 11.3974 11.4808 11.3522C11.4658 11.5931 11.5072 12.1916 11.9514 13.5392C12.4783 15.1427 12.4482 16.3698 11.8535 17.1904C11.2286 18.0524 10.2312 18.1201 9.93755 18.1201C9.65524 18.1201 9.39552 18.0034 9.21108 17.7889C8.79326 17.3033 8.8422 16.4074 8.89489 15.9934C8.39803 14.6609 7.00531 11.3936 5.82714 10.4865C5.80456 10.4714 5.78574 10.4526 5.76692 10.4338C5.42062 10.0687 5.18724 9.67344 5.02915 9.32714C4.80707 9.44759 4.55487 9.51535 4.28385 9.51535H1.98775C1.122 9.51535 0.421875 8.81146 0.421875 7.94947V1.83278C0.421875 0.967037 1.12576 0.266912 1.98775 0.266912H4.28385C4.61886 0.266912 4.93128 0.372307 5.18724 0.552984L6.07181 0.44759C6.20732 0.428768 8.61635 0.123875 11.0894 0.17281C11.5373 0.138931 11.9589 0.12011 12.3504 0.12011C13.0241 0.12011 13.6113 0.172808 14.1007 0.278204C15.2525 0.522871 16.0392 1.01221 16.4382 1.73115C16.7431 2.28071 16.7431 2.82651 16.6941 3.17281C17.4432 3.85035 17.5749 4.59941 17.5486 5.12639C17.5335 5.43128 17.4658 5.691 17.3943 5.88297ZM1.98775 1.28322C1.68285 1.28322 1.43819 1.53165 1.43819 1.83278V7.95324C1.43819 8.25813 1.68662 8.5028 1.98775 8.5028H4.28385C4.58875 8.5028 4.83342 8.25437 4.83342 7.95324V1.83655C4.83342 1.53165 4.58498 1.28699 4.28385 1.28699H1.98775V1.28322ZM16.4306 6.32338C16.2726 6.15775 16.2424 5.90556 16.3629 5.70982C16.3629 5.70606 16.5172 5.44257 16.536 5.08122C16.5624 4.58812 16.3253 4.15148 15.8284 3.77883C15.6515 3.64332 15.58 3.40995 15.6552 3.19916C15.6552 3.19539 15.8171 2.69853 15.5536 2.22802C15.3014 1.77632 14.7406 1.45261 13.8899 1.27193C13.2086 1.12513 12.2826 1.09878 11.1458 1.18912C11.1308 1.18912 11.112 1.18912 11.0931 1.18912C8.67281 1.13642 6.22614 1.45261 6.19979 1.45637H6.19602L5.81585 1.50154C5.83843 1.60694 5.84973 1.71986 5.84973 1.83278V7.95324C5.84973 8.11509 5.82338 8.27319 5.77821 8.41999C5.84596 8.67218 6.03417 9.23304 6.47833 9.71108C8.16842 11.0511 9.82086 15.5718 9.89238 15.7675C9.9225 15.8466 9.93002 15.9332 9.91497 16.0197C9.85098 16.4413 9.87356 16.957 9.9639 17.1113C10.1634 17.1076 10.7017 17.0511 11.0254 16.6032C11.4093 16.0724 11.3943 15.1239 10.9802 13.8667C10.3478 11.9507 10.2951 10.9419 10.7958 10.4978C11.0442 10.2757 11.3754 10.2644 11.6163 10.351C11.846 10.4037 12.0643 10.4488 12.2713 10.4827C12.2864 10.4865 12.3052 10.4903 12.3202 10.494C13.4758 10.7462 15.5461 10.9005 16.265 10.2456C16.8748 9.6885 16.4419 8.95073 16.393 8.87168C16.2537 8.66089 16.2951 8.38611 16.4833 8.21673C16.4871 8.21296 16.8823 7.84031 16.9012 7.33969C16.9162 7.00468 16.7581 6.66215 16.4306 6.32338Z" fill="black"/>
                          </g>
                          <defs>
                          <clipPath id="clip0_2511_17183">
                          <rect width="18" height="18" fill="white" transform="matrix(1 0 0 -1 0.171875 18.1201)"/>
                          </clipPath>
                          </defs>
                          </svg>

                      </button>
                      <button type="button" class="btn btn-secondary br-50 btn-archive">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.82903 0.620117H11.997C12.6246 0.620117 13.1542 1.12649 13.1542 1.77727L13.1542 16.8113C13.1542 16.8115 13.1542 16.8116 13.1542 16.8118C13.1524 17.5271 12.2615 17.9031 11.7348 17.3707L11.7329 17.3688L7.8604 13.4974C7.35368 12.9738 6.47239 12.9738 5.96568 13.4974L2.0932 17.3688L2.09124 17.3707C1.56473 17.903 0.67387 17.5274 0.671875 16.8118V1.77727C0.671875 1.12649 1.20151 0.620117 1.82903 0.620117Z" stroke="black"/>
                        </svg>
                      </button>
                    </div>
                    <h5 class="text-black fz-20 fw-600 cursor-pointer text-theme-hover" @click="$router.push('/freelancer/job-details')">Mechanical/Piping QC Inspector</h5>
                    <ul class="d-md-flex align-items-center fz-14 post text-muted mb-2">
                      <li>Category-Mechanical Inspector</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Location- India, Madhya Pradesh, Indore</li> 
                      <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block">|</li> 
                      <li>Posted 5 hours ago</li>
                    </ul>
                    <p class="fz-14 text-black mb-2">The purpose of the Mechanical/Piping QC Inspector is to interpret the suitability of products and processes against  the designated specification requirements at scheduled and ad-hoc intervals..</p>
                    <p class="fz-14 text-black">Client Location - <span class="text-muted">India</span></p>
                    <ul class="d-flex align-items-center fz-14 post tags mb-0">
                      <li class="mr-1 d-flex align-items-center">
                        Boilers
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                      <li class="mr-1 d-flex align-items-center">
                        Industrial Valves
                        <svg class="ml-2" width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703924 0.710276 -0.703924 0.710276 9.22266 3.08838)" fill="#F2613C"/>
                          <rect width="0.878423" height="8.78423" rx="0.439212" transform="matrix(0.703929 -0.71027 0.703929 0.71027 3.03906 3.7124)" fill="#F2613C"/>
                        </svg>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="right-content">
          <div class="card text-center profile mb-3">
            <div class="card-body">
              <div class="img-holder br-10 mb-4 relative">
                <span class="online"></span>
                <img src="http://qapin_mvp5.manageprojects.in/upload/profile_image/profile_221.jpg" class="img-fluid">
              </div>
              <h4 class="fz-20 fw-600 text-black">Lewis Caldwell MKP</h4>
              <ul class="d-md-flex align-items-center justify-content-center fz-14 post text-muted mb-2">
                <li>Male</li> 
                <li class="d-none d-sm-none d-md-block d-lg-block d-lg-block ml-1 mr-1">.</li> 
                <li>37 Years</li> 
              </ul>
              <p class="fz-14 text-muted">15+ Years of Experience</p>
            </div>
          </div>
          <div class="card my-proposal p-4 mb-3">
            <div class="card-body">
              <h4 class="fz-20 fw-600 text-black">Availbility Badge</h4>
              <div class="d-flex align-items-center mb-3">
                <span class="mr-2 available-span">Available Now</span>
                <a href="javascript:void(0);">
                  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.0469 17.229C12.7019 17.229 12.4219 16.949 12.4219 16.604C12.4219 16.259 12.7019 15.979 13.0469 15.979H13.0475C13.0475 15.634 13.3269 15.354 13.6722 15.354C14.0175 15.354 14.2969 15.634 14.2969 15.979C14.2969 16.6684 13.7363 17.229 13.0469 17.229Z" fill="#F2613C"/>
                    <path d="M13.6719 16.6038C13.3269 16.6038 13.0469 16.3238 13.0469 15.9788V9.84912C13.0469 9.50412 13.3269 9.22412 13.6719 9.22412C14.0169 9.22412 14.2969 9.50412 14.2969 9.84912V15.9788C14.2969 16.3238 14.0169 16.6038 13.6719 16.6038Z" fill="#F2613C"/>
                    <path d="M13.0469 17.229H1.79688C1.45188 17.229 1.17188 16.949 1.17188 16.604C1.17188 16.259 1.45188 15.979 1.79688 15.979H13.0469C13.3919 15.979 13.6719 16.259 13.6719 16.604C13.6719 16.949 13.3919 17.229 13.0469 17.229Z" fill="#F2613C"/>
                    <path d="M1.79688 17.229C1.1075 17.229 0.546875 16.6684 0.546875 15.979C0.546875 15.634 0.826875 15.354 1.17188 15.354C1.51687 15.354 1.79688 15.634 1.79688 15.979V15.9799C2.14188 15.9799 2.42188 16.2593 2.42188 16.6043C2.42188 16.9493 2.14188 17.229 1.79688 17.229Z" fill="#F2613C"/>
                    <path d="M1.17188 16.604C0.826875 16.604 0.546875 16.324 0.546875 15.979V4.729C0.546875 4.384 0.826875 4.104 1.17188 4.104C1.51687 4.104 1.79688 4.384 1.79688 4.729V15.979C1.79688 16.324 1.51687 16.604 1.17188 16.604Z" fill="#F2613C"/>
                    <path d="M1.17156 5.354C0.82625 5.354 0.546875 5.074 0.546875 4.729C0.546875 4.03963 1.1075 3.479 1.79688 3.479C2.14188 3.479 2.42188 3.759 2.42188 4.104C2.42188 4.449 2.14188 4.729 1.79688 4.729H1.79625C1.79625 5.074 1.51688 5.354 1.17156 5.354Z" fill="#F2613C"/>
                    <path d="M7.92656 4.729H1.79688C1.45188 4.729 1.17188 4.449 1.17188 4.104C1.17188 3.759 1.45188 3.479 1.79688 3.479H7.92656C8.27156 3.479 8.55156 3.759 8.55156 4.104C8.55156 4.449 8.27187 4.729 7.92656 4.729Z" fill="#F2613C"/>
                    <path d="M7.40031 8.79099C7.24031 8.79099 7.08031 8.73006 6.95844 8.60787C6.71437 8.36381 6.71437 7.96818 6.95844 7.72412L13.0625 1.62006C13.3063 1.376 13.7025 1.376 13.9463 1.62006C14.1903 1.86412 14.1903 2.25975 13.9463 2.50381L7.84219 8.60787C7.72031 8.73006 7.56 8.79099 7.40031 8.79099Z" fill="#F2613C"/>
                    <path d="M6.7975 11.604C6.75406 11.604 6.71 11.5997 6.66594 11.59C6.32844 11.5178 6.11344 11.1853 6.18594 10.8481L6.78937 8.03498C6.86156 7.69716 7.19468 7.48123 7.53156 7.55498C7.86906 7.62716 8.08406 7.95966 8.01156 8.29685L7.40812 11.11C7.345 11.4034 7.08593 11.604 6.7975 11.604Z" fill="#F2613C"/>
                    <path d="M9.61027 11.0005C9.45027 11.0005 9.29027 10.9395 9.1684 10.8173C8.92434 10.5733 8.92434 10.1777 9.1684 9.9336L15.2725 3.82953C15.5162 3.58547 15.9125 3.58547 16.1562 3.82953C16.4003 4.07359 16.4003 4.46922 16.1562 4.71328L10.0521 10.8173C9.93027 10.9395 9.77027 11.0005 9.61027 11.0005Z" fill="#F2613C"/>
                    <path d="M6.79647 11.604C6.50803 11.604 6.24897 11.4034 6.18584 11.1102C6.11366 10.7727 6.32834 10.4402 6.66584 10.368L9.47897 9.76429C9.81554 9.69272 10.1487 9.90648 10.2212 10.244C10.2934 10.5815 10.0787 10.914 9.74116 10.9862L6.92803 11.5899C6.88397 11.5993 6.83991 11.604 6.79647 11.604Z" fill="#F2613C"/>
                    <path d="M14.609 6.00111C14.449 6.00111 14.289 5.94018 14.1671 5.81799L11.9575 3.6083C11.7134 3.36424 11.7134 2.96861 11.9575 2.72455C12.2012 2.48049 12.5975 2.48049 12.8412 2.72455L15.0509 4.93424C15.295 5.1783 15.295 5.57393 15.0509 5.81799C14.929 5.94018 14.769 6.00111 14.609 6.00111Z" fill="#F2613C"/>
                    <path d="M15.714 4.89611C15.554 4.89611 15.394 4.83518 15.2718 4.71299C15.0278 4.46893 15.0278 4.07299 15.2718 3.82893C15.445 3.65611 15.5403 3.42049 15.5403 3.16643C15.5403 2.91236 15.445 2.67674 15.2718 2.50393C14.925 2.15674 14.2921 2.15705 13.9459 2.50361C13.7018 2.74768 13.3062 2.74768 13.0618 2.50393C12.8178 2.25986 12.8178 1.86393 13.0618 1.61986C13.4712 1.21018 14.0206 0.984863 14.6087 0.984863C15.1968 0.984863 15.7465 1.21049 16.1556 1.61986C16.5646 2.02893 16.7899 2.57799 16.7899 3.16643C16.7899 3.75486 16.5646 4.30424 16.1553 4.7133C16.034 4.83518 15.874 4.89611 15.714 4.89611Z" fill="#F2613C"/>
                  </svg>
                </a>
              </div>
              <h4 class="fz-20 fw-600 text-black">Profile Visibility</h4>
              <div class="d-flex align-items-center mb-3">
                <span class="mr-2 text-muted">Public</span>
                <a href="javascript:void(0);">
                  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.0469 17.229C12.7019 17.229 12.4219 16.949 12.4219 16.604C12.4219 16.259 12.7019 15.979 13.0469 15.979H13.0475C13.0475 15.634 13.3269 15.354 13.6722 15.354C14.0175 15.354 14.2969 15.634 14.2969 15.979C14.2969 16.6684 13.7363 17.229 13.0469 17.229Z" fill="#F2613C"/>
                    <path d="M13.6719 16.6038C13.3269 16.6038 13.0469 16.3238 13.0469 15.9788V9.84912C13.0469 9.50412 13.3269 9.22412 13.6719 9.22412C14.0169 9.22412 14.2969 9.50412 14.2969 9.84912V15.9788C14.2969 16.3238 14.0169 16.6038 13.6719 16.6038Z" fill="#F2613C"/>
                    <path d="M13.0469 17.229H1.79688C1.45188 17.229 1.17188 16.949 1.17188 16.604C1.17188 16.259 1.45188 15.979 1.79688 15.979H13.0469C13.3919 15.979 13.6719 16.259 13.6719 16.604C13.6719 16.949 13.3919 17.229 13.0469 17.229Z" fill="#F2613C"/>
                    <path d="M1.79688 17.229C1.1075 17.229 0.546875 16.6684 0.546875 15.979C0.546875 15.634 0.826875 15.354 1.17188 15.354C1.51687 15.354 1.79688 15.634 1.79688 15.979V15.9799C2.14188 15.9799 2.42188 16.2593 2.42188 16.6043C2.42188 16.9493 2.14188 17.229 1.79688 17.229Z" fill="#F2613C"/>
                    <path d="M1.17188 16.604C0.826875 16.604 0.546875 16.324 0.546875 15.979V4.729C0.546875 4.384 0.826875 4.104 1.17188 4.104C1.51687 4.104 1.79688 4.384 1.79688 4.729V15.979C1.79688 16.324 1.51687 16.604 1.17188 16.604Z" fill="#F2613C"/>
                    <path d="M1.17156 5.354C0.82625 5.354 0.546875 5.074 0.546875 4.729C0.546875 4.03963 1.1075 3.479 1.79688 3.479C2.14188 3.479 2.42188 3.759 2.42188 4.104C2.42188 4.449 2.14188 4.729 1.79688 4.729H1.79625C1.79625 5.074 1.51688 5.354 1.17156 5.354Z" fill="#F2613C"/>
                    <path d="M7.92656 4.729H1.79688C1.45188 4.729 1.17188 4.449 1.17188 4.104C1.17188 3.759 1.45188 3.479 1.79688 3.479H7.92656C8.27156 3.479 8.55156 3.759 8.55156 4.104C8.55156 4.449 8.27187 4.729 7.92656 4.729Z" fill="#F2613C"/>
                    <path d="M7.40031 8.79099C7.24031 8.79099 7.08031 8.73006 6.95844 8.60787C6.71437 8.36381 6.71437 7.96818 6.95844 7.72412L13.0625 1.62006C13.3063 1.376 13.7025 1.376 13.9463 1.62006C14.1903 1.86412 14.1903 2.25975 13.9463 2.50381L7.84219 8.60787C7.72031 8.73006 7.56 8.79099 7.40031 8.79099Z" fill="#F2613C"/>
                    <path d="M6.7975 11.604C6.75406 11.604 6.71 11.5997 6.66594 11.59C6.32844 11.5178 6.11344 11.1853 6.18594 10.8481L6.78937 8.03498C6.86156 7.69716 7.19468 7.48123 7.53156 7.55498C7.86906 7.62716 8.08406 7.95966 8.01156 8.29685L7.40812 11.11C7.345 11.4034 7.08593 11.604 6.7975 11.604Z" fill="#F2613C"/>
                    <path d="M9.61027 11.0005C9.45027 11.0005 9.29027 10.9395 9.1684 10.8173C8.92434 10.5733 8.92434 10.1777 9.1684 9.9336L15.2725 3.82953C15.5162 3.58547 15.9125 3.58547 16.1562 3.82953C16.4003 4.07359 16.4003 4.46922 16.1562 4.71328L10.0521 10.8173C9.93027 10.9395 9.77027 11.0005 9.61027 11.0005Z" fill="#F2613C"/>
                    <path d="M6.79647 11.604C6.50803 11.604 6.24897 11.4034 6.18584 11.1102C6.11366 10.7727 6.32834 10.4402 6.66584 10.368L9.47897 9.76429C9.81554 9.69272 10.1487 9.90648 10.2212 10.244C10.2934 10.5815 10.0787 10.914 9.74116 10.9862L6.92803 11.5899C6.88397 11.5993 6.83991 11.604 6.79647 11.604Z" fill="#F2613C"/>
                    <path d="M14.609 6.00111C14.449 6.00111 14.289 5.94018 14.1671 5.81799L11.9575 3.6083C11.7134 3.36424 11.7134 2.96861 11.9575 2.72455C12.2012 2.48049 12.5975 2.48049 12.8412 2.72455L15.0509 4.93424C15.295 5.1783 15.295 5.57393 15.0509 5.81799C14.929 5.94018 14.769 6.00111 14.609 6.00111Z" fill="#F2613C"/>
                    <path d="M15.714 4.89611C15.554 4.89611 15.394 4.83518 15.2718 4.71299C15.0278 4.46893 15.0278 4.07299 15.2718 3.82893C15.445 3.65611 15.5403 3.42049 15.5403 3.16643C15.5403 2.91236 15.445 2.67674 15.2718 2.50393C14.925 2.15674 14.2921 2.15705 13.9459 2.50361C13.7018 2.74768 13.3062 2.74768 13.0618 2.50393C12.8178 2.25986 12.8178 1.86393 13.0618 1.61986C13.4712 1.21018 14.0206 0.984863 14.6087 0.984863C15.1968 0.984863 15.7465 1.21049 16.1556 1.61986C16.5646 2.02893 16.7899 2.57799 16.7899 3.16643C16.7899 3.75486 16.5646 4.30424 16.1553 4.7133C16.034 4.83518 15.874 4.89611 15.714 4.89611Z" fill="#F2613C"/>
                  </svg>
                </a>
              </div>
              <hr>
              <div class="d-flex align-items-center mb-3">
                <h4 class="fz-20 fw-600 text-black mb-0 mr-2">My Categories</h4>
                <a href="javascript:void(0);">
                  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.0469 17.229C12.7019 17.229 12.4219 16.949 12.4219 16.604C12.4219 16.259 12.7019 15.979 13.0469 15.979H13.0475C13.0475 15.634 13.3269 15.354 13.6722 15.354C14.0175 15.354 14.2969 15.634 14.2969 15.979C14.2969 16.6684 13.7363 17.229 13.0469 17.229Z" fill="#F2613C"/>
                    <path d="M13.6719 16.6038C13.3269 16.6038 13.0469 16.3238 13.0469 15.9788V9.84912C13.0469 9.50412 13.3269 9.22412 13.6719 9.22412C14.0169 9.22412 14.2969 9.50412 14.2969 9.84912V15.9788C14.2969 16.3238 14.0169 16.6038 13.6719 16.6038Z" fill="#F2613C"/>
                    <path d="M13.0469 17.229H1.79688C1.45188 17.229 1.17188 16.949 1.17188 16.604C1.17188 16.259 1.45188 15.979 1.79688 15.979H13.0469C13.3919 15.979 13.6719 16.259 13.6719 16.604C13.6719 16.949 13.3919 17.229 13.0469 17.229Z" fill="#F2613C"/>
                    <path d="M1.79688 17.229C1.1075 17.229 0.546875 16.6684 0.546875 15.979C0.546875 15.634 0.826875 15.354 1.17188 15.354C1.51687 15.354 1.79688 15.634 1.79688 15.979V15.9799C2.14188 15.9799 2.42188 16.2593 2.42188 16.6043C2.42188 16.9493 2.14188 17.229 1.79688 17.229Z" fill="#F2613C"/>
                    <path d="M1.17188 16.604C0.826875 16.604 0.546875 16.324 0.546875 15.979V4.729C0.546875 4.384 0.826875 4.104 1.17188 4.104C1.51687 4.104 1.79688 4.384 1.79688 4.729V15.979C1.79688 16.324 1.51687 16.604 1.17188 16.604Z" fill="#F2613C"/>
                    <path d="M1.17156 5.354C0.82625 5.354 0.546875 5.074 0.546875 4.729C0.546875 4.03963 1.1075 3.479 1.79688 3.479C2.14188 3.479 2.42188 3.759 2.42188 4.104C2.42188 4.449 2.14188 4.729 1.79688 4.729H1.79625C1.79625 5.074 1.51688 5.354 1.17156 5.354Z" fill="#F2613C"/>
                    <path d="M7.92656 4.729H1.79688C1.45188 4.729 1.17188 4.449 1.17188 4.104C1.17188 3.759 1.45188 3.479 1.79688 3.479H7.92656C8.27156 3.479 8.55156 3.759 8.55156 4.104C8.55156 4.449 8.27187 4.729 7.92656 4.729Z" fill="#F2613C"/>
                    <path d="M7.40031 8.79099C7.24031 8.79099 7.08031 8.73006 6.95844 8.60787C6.71437 8.36381 6.71437 7.96818 6.95844 7.72412L13.0625 1.62006C13.3063 1.376 13.7025 1.376 13.9463 1.62006C14.1903 1.86412 14.1903 2.25975 13.9463 2.50381L7.84219 8.60787C7.72031 8.73006 7.56 8.79099 7.40031 8.79099Z" fill="#F2613C"/>
                    <path d="M6.7975 11.604C6.75406 11.604 6.71 11.5997 6.66594 11.59C6.32844 11.5178 6.11344 11.1853 6.18594 10.8481L6.78937 8.03498C6.86156 7.69716 7.19468 7.48123 7.53156 7.55498C7.86906 7.62716 8.08406 7.95966 8.01156 8.29685L7.40812 11.11C7.345 11.4034 7.08593 11.604 6.7975 11.604Z" fill="#F2613C"/>
                    <path d="M9.61027 11.0005C9.45027 11.0005 9.29027 10.9395 9.1684 10.8173C8.92434 10.5733 8.92434 10.1777 9.1684 9.9336L15.2725 3.82953C15.5162 3.58547 15.9125 3.58547 16.1562 3.82953C16.4003 4.07359 16.4003 4.46922 16.1562 4.71328L10.0521 10.8173C9.93027 10.9395 9.77027 11.0005 9.61027 11.0005Z" fill="#F2613C"/>
                    <path d="M6.79647 11.604C6.50803 11.604 6.24897 11.4034 6.18584 11.1102C6.11366 10.7727 6.32834 10.4402 6.66584 10.368L9.47897 9.76429C9.81554 9.69272 10.1487 9.90648 10.2212 10.244C10.2934 10.5815 10.0787 10.914 9.74116 10.9862L6.92803 11.5899C6.88397 11.5993 6.83991 11.604 6.79647 11.604Z" fill="#F2613C"/>
                    <path d="M14.609 6.00111C14.449 6.00111 14.289 5.94018 14.1671 5.81799L11.9575 3.6083C11.7134 3.36424 11.7134 2.96861 11.9575 2.72455C12.2012 2.48049 12.5975 2.48049 12.8412 2.72455L15.0509 4.93424C15.295 5.1783 15.295 5.57393 15.0509 5.81799C14.929 5.94018 14.769 6.00111 14.609 6.00111Z" fill="#F2613C"/>
                    <path d="M15.714 4.89611C15.554 4.89611 15.394 4.83518 15.2718 4.71299C15.0278 4.46893 15.0278 4.07299 15.2718 3.82893C15.445 3.65611 15.5403 3.42049 15.5403 3.16643C15.5403 2.91236 15.445 2.67674 15.2718 2.50393C14.925 2.15674 14.2921 2.15705 13.9459 2.50361C13.7018 2.74768 13.3062 2.74768 13.0618 2.50393C12.8178 2.25986 12.8178 1.86393 13.0618 1.61986C13.4712 1.21018 14.0206 0.984863 14.6087 0.984863C15.1968 0.984863 15.7465 1.21049 16.1556 1.61986C16.5646 2.02893 16.7899 2.57799 16.7899 3.16643C16.7899 3.75486 16.5646 4.30424 16.1553 4.7133C16.034 4.83518 15.874 4.89611 15.714 4.89611Z" fill="#F2613C"/>
                  </svg>
                </a>
              </div>
              <ul>
                <li class="mb-1"><a href="javascript:void(0);" class="text-theme mb-1">E&I Inspector</a></li>
                <li class="mb-1"><a href="javascript:void(0);" class="text-theme mb-1">Mechanical Inspector</a></li>
              </ul>
            </div>
          </div>
          <div class="card my-proposal p-4 mb-3">
            <div class="card-body">
              <h4 class="fz-20 fw-600 text-black">Proposals</h4>
              <h6 class="text-muted">My Proposals</h6>
              <hr>
              <ul>
                <li class="mb-1"><a href="javascript:void(0);" class="text-theme mb-1">2 invite to interview</a></li>
                <li class="mb-1"><a href="javascript:void(0);" class="text-theme mb-1">1 active proposal</a></li>
                <li class="mb-1"><a href="javascript:void(0);" class="text-theme mb-1">1 submitted proposal</a></li>
              </ul>
            </div>
          </div>
          <div class="card p-4 my-proposal mb-3">
            <div class="card-body">
              <ul>
                <li class="mb-1"><a href="javascript:void(0);" class="text-black mb-1 fz-20 fw-600">Get Paid <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                <li><hr></li>
                <li class="mb-1"><a href="javascript:void(0);" class="text-black mb-1 fz-20 fw-600">Qapin Blogs <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                <li><hr></li>
                <li class="mb-1"><a href="javascript:void(0);" class="text-black mb-1 fz-20 fw-600">Help Center <i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Qapin || Freelancer',

  data: () => ({
    links: [
      'Dashboard',
      'Messages',
      'Profile',
      'Updates',
    ],
  }),
}
</script>
<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
  body{font-family: 'Source Sans Pro', sans-serif!important;}
  .text-muted{color:#979797!important;}
  .ralative {padding-bottom:0px;}
  .theme-bg{background-color: #FFF6F4!important;}
  .bg-none{background-color:transparent;}
  .bordered{border-bottom: 1px solid #EBEBEB!important;border-right: 1px solid #EBEBEB;}
  .br-20{border-radius: 20px;}
  .border-none{border:0px!important;}
  .search-bar input{border-right:0px!important;background: #FFFFFF;border-left: 1px solid #D3D3D3!important;border-top: 1px solid #D3D3D3!important;border-bottom: 1px solid #D3D3D3!important;border-radius: 6px;}
  .search-bar .input-group-text{border-left:0px!important;}
  .freelancer-wrap .nav-pills .nav-link.active, .nav-pills .show > .nav-link{background-color:#fff!important;color:#F2613B!important;font-weight:600;border-bottom: 3px solid #f2613b;border-radius: 0px;}
  .freelancer-wrap .nav-pills .badge{border-radius: 50%;padding: 8px 8px!important;background-color:#eee;color:#000!important;}
  .freelancer-wrap .nav-pills .nav-link{color:#999999;font-weight:600;}
  .freelancer-wrap .nav-pills .nav-link:hover{color:#F2613B!important;;font-weight:600;}
  .freelancer-wrap .nav-pills .nav-link.active .badge, .nav-pills .show > .nav-link .badge{background-color: #F2613B!important;border-radius: 50%;font-size: 10px!important;padding: 8px 8px!important;color:#fff!important;}
  .freelancer-wrap .post{margin-left:-32px;}
  .freelancer-wrap .post li{font-size:14px;}
  .freelancer-wrap .tags li{background: #FCFCFC;border: 1px solid #F2613C;border-radius: 100px;padding: 2px 15px;}
  .freelancer-wrap .job-card{border-bottom:1px solid #eee;padding-bottom:50px;margin-bottom:50px;}
  .freelancer-wrap .job-card:last-child{border-bottom:0px;}
  .freelancer-wrap .br-50{border-radius:50%!important;}
  .freelancer-wrap .btn-like{padding:10px!important;}
  .freelancer-wrap .btn-archive{padding:10px 13px!important;}
  .freelancer-wrap .action-btn{position: absolute;right: 25px;}
  .freelancer-wrap .fz-14{font-size:14px;}
  .freelancer-wrap .profile .img-holder{box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25);border-radius: 10px;width:100px; height:100px;margin:0 auto;}
  .freelancer-wrap .profile .img-holder img{object-fit:scale-down;width:100%;height:100%;}
  .freelancer-wrap .profile span{position: absolute;background-color: #72e55f;width: 10px;height: 10px;border-radius: 50%;border: 1px solid #2dca14;right: -5px;top: 17px;}
  .freelancer-wrap .card{border-radius: 20px!important;}
  .freelancer-wrap .card-body{border-radius: 20px;}
  .freelancer-wrap .like-jobs .card{border-radius: 20px 20px 0 0!important;}
  .freelancer-wrap .like-jobs .card-header{border-radius: 20px 20px 0 0!important;}
  .freelancer-wrap .like-jobs .card-body{border-radius: 0 0 20px 20px !important;border:0px;}
  .freelancer-wrap .card-body{border-radius:0 0 20px 20px;}
  .freelancer-wrap .card-header{border-radius:20px 20px 0 0!important;}
  .freelancer-wrap .my-proposal ul{margin-left:-32px;}
  .freelancer-wrap a {text-decoration:none;}
  .fz-16{font-size:16px;}
  .fz-18{font-size:18px;}
  .fw-600{font-weight:600;}
  .available-span{background: #FCFCFC;border: 1px solid #F2613C;border-radius: 100px;padding: 6px 12px;color: #F2613C;font-size: 16px;}
  .freelancer-job-detail .card-body{padding: 0px 11px;}
  .last-child{border-radius:0 0 0 20px;}
  .mb-23{margin-bottom:23px;}
  .star-rating {display:flex;font-size:1.5em;justify-content:space-around;padding:0;text-align:center;width:6em;}
  .star-rating input {display:none;}
  .star-rating label {color:#D4D5CF;}
  .star-rating label.active {color:#FF8E3C;}
  .r-about{color:#979797;}
  .no-bottom-border{border-bottom:0px!important;}
  .similar-jobs{margin-left:-32px;}
  .border-top-0{border-top:0px!important;}
  .py-13{padding-top: 3.2rem;padding-bottom: 3.2rem;}
  .table .last-child {border-top: 1px solid #adb1b6!important;}
  .table > :not(:first-child) {border-top: 0px!important;}
  .my-proposal .fa-chevron-right{float: right;font-size: 14px;margin-top: 10px;}
  .mb-50{margin-bottom:50px;}
  .text-theme-hover:hover{color:#f2613b!important;}
  p {margin-top: 0!important;margin-bottom: 1rem!important;}
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {margin-top: 0!important;margin-bottom: 0.5rem!important;font-weight: 500!important;line-height: 1.2!important;}
  dl, ol, ul {margin-top: 0!important;margin-bottom: 1rem!important;}
  ol, ul {padding-left: 2rem!important;}
  hr {margin: 1rem 0!important;}
</style>
